*{
margin:0px;
  padding:0px;

}


.contenedor{
  height: 100vh;

  justify-content: center;
  align-items:center;
  display:flex;
}

.panel{

  background-color: rgb(183, 182, 184);
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-bottom-left-radius: 20px;
}
.panel img{
  width: 100%
}

.panel a{
  font-size:14px;
  margin-top: 5px;
}

.panel input{
  width: 160px;
  margin-top: 5px;
}

.panel button{
  margin-top: 20px;
  background-color:#D31024;
  font-size:16px;
  width: 215px;
  height: 32px;
  color:white;
  border-bottom-left-radius: 20px;
}

.contenedor2{
  width:100%;
  display: flex;
}

.datos{
  background-color: rgb(184, 181, 184);
  width:75%;
  margin: 30px;

}

.datos a{
  margin: 15px;
}



.promedio{
  width:25%;
  display:flex;

  justify-content: center;
  align-items: center;
}


.tablaP{
  border: 1px solid black;
  border-bottom-left-radius: 20px;
  text-align: center;
}
.tablaP th{
  border: 1px solid black;
  background-color: rgb(201, 199, 199);
}


.notas{
  display:flex;
  justify-content: center;
  align-items: center;
}

.notas_tabla table{
  border: 1px solid black;
  background-color: rgb(201, 199, 199);
}

.notas_tabla th{
  border: 1px solid black;
  background-color: rgb(201, 199, 199);
}
